/* Підключення шрифтів вручну */
/* Causten */
@font-face{
    font-family: "Causten";
    src:
        url("../fonts/Causten-Regular.woff2") format("woof2"),
        url("../fonts/Causten-Regular.woff") format("woof");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
}
@font-face{
    font-family: "Causten";
    src:
        url("../fonts/Causten-Light.woff2") format("woof2"),
        url("../fonts/Causten-Light.woff") format("woof");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
}
@font-face{
    font-family: "Causten";
    src:
        url("../fonts/Causten-Medium.woff2") format("woof2"),
        url("../fonts/Causten-Medium.woff") format("woof");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
}
/* Bergen */
@font-face {
    font-family: "Bergen Text";
    src: url("../fonts/BergenText-Bold.woff2") format('woff2'),
        url("../fonts/BergenText-Bold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bergen Text";
    src: url("../fonts/BergenText-Regular.woff2") format('woff2'),
        url("../fonts/BergenText-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

